﻿/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.navbar-inverse {
    background-color: #d41d50;
    border-color: #fbf6f6;
}

    .navbar-inverse .navbar-nav > li > a {
        color: white;
    }

    .navbar-inverse.navbar-brand {
        color: white;
    }

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
